{% extends 'main/layout.html'%}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Сообщество любителей книг</h1>
        <img src="{% static 'main/img/bookmeeting.jpg'%}">
        <p>Перенесемся в далекие волшебные места, совсем не похожие на нашу реальность. Лучшими фэнтези-книгами считают произведения признанных мастеров: Толкина, Пратчетта, Желязны, Урсулы ле Гуин. В нашем списке также есть нашумевшие романы Анджея Сапковского, Джорджа Мартина и других современных авторов.</p>
        <p>С полюбившимися магическими мирами сложно расставаться. К счастью, большинство фэнтезийных произведений – целые серии романов.</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про нас</button></a>

        {% for el in values %}
            {% if el == 'some' %}
                <p>{{ el |upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in odj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}